In [1]:
import pandas as pd
import datetime as dt   #builtin

In [7]:
someday = dt.date(2019,6,20)

In [10]:
someday.year
someday.month
someday.day

20

In [14]:
dt.datetime(2019,6,20, 8, 15, 46)# 8:15:46sec

datetime.datetime(2019, 6, 20, 8, 15, 46)

In [16]:
str(dt.datetime(2019,6,20, 8, 15, 46))

'2019-06-20 08:15:46'

In [17]:
sometime = dt.datetime(2019,6,20, 8, 15, 46)# 8:15:46sec

In [21]:
sometime.year
sometime.month
sometime.hour
sometime.second

46

In [31]:
# all give same output
pd.Timestamp("2019-03-31")
pd.Timestamp("2019/03/31")
pd.Timestamp("2019, 03, 31") # note to put space after comma
pd.Timestamp("31/03/2019")

Timestamp('2019-03-31 00:00:00')

In [32]:
pd.Timestamp("2019-03-31 08:36:37")

Timestamp('2019-03-31 08:36:37')

In [33]:
pd.Timestamp("2019-03-31 6:13:43 PM") #auto correct to ->18

Timestamp('2019-03-31 18:13:43')

In [34]:
pd.Timestamp(dt.date(2015,3,2))

Timestamp('2015-03-02 00:00:00')

In [35]:
pd.Timestamp(dt.datetime(2000,2,3,21,24,55))

Timestamp('2000-02-03 21:24:55')

In [37]:
dates = ["2019-02-03", "1995-09-20", "2011-04-04"] #we can type / as well
pd.DatetimeIndex(dates)

DatetimeIndex(['2019-02-03', '1995-09-20', '2011-04-04'], dtype='datetime64[ns]', freq=None)

In [39]:
dates1 = [dt.date(2016, 1, 10), dt.date(1997, 3,15), dt.date(2004, 12, 19)]
dtIndex = pd.DatetimeIndex(dates1)

In [40]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1997-03-15    200
2004-12-19    300
dtype: int64

In [41]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [42]:
pd.to_datetime(dt.date(2018, 1, 1))

Timestamp('2018-01-01 00:00:00')

In [43]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [44]:
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1995"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1995-07-04'], dtype='datetime64[ns]', freq=None)

In [46]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1995"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1995
dtype: object

In [47]:
pd.to_datetime(times) # see dtype

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1995-07-04
dtype: datetime64[ns]

In [53]:
dateS = pd.Series(["July 4th, 1996", "10/4/1993", "Hello", "2017-02-31"])
dateS

0    July 4th, 1996
1         10/4/1993
2             Hello
3        2017-02-31
dtype: object

In [55]:
pd.to_datetime(dateS, errors = "coerce")  #Nat= Not a time

0   1996-07-04
1   1993-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [58]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")  #unix time in se"conds from epoch ie Jan 1st 1970

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [68]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq= "D")  # D is for Day, freq is interval
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [61]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [62]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [64]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [65]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq= "2D")  # D is for Day, freq is interval

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [70]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq= "B")  # D is for Business Day, freq is interval

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [71]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq= "W")  # W is for week, 3rd and 10th are Sundays

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [76]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq= "W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [77]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq= "H") #1am,2am,3am...

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [78]:
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq= "M") #give last day of each month

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [80]:
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq= "MS") #1st day of each month

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [81]:
pd.date_range(start = "2016-01-01", end = "2050-01-10", freq= "A") #show last day of each year

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [82]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [83]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [86]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end= "2010-12-31", freq =" 24D")

In [89]:
s = pd.Series(bunch_of_dates)
s.head(5)

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [91]:
s.dt.day.head(5)

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [92]:
s.dt.month.head(5)

0    1
1    1
2    2
3    3
4    4
dtype: int64

In [93]:
s.dt.weekday_name.head()

0    Saturday
1     Tuesday
2      Friday
3      Monday
4    Thursday
dtype: object

In [96]:
mask = s.dt.is_quarter_start
s[mask]  #only those days that fall on 1st day quarter

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [98]:
mask2 = s.dt.is_month_start
s[mask2]  #how many date fall on start of a month

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]